policy_server: rudder.server
server_version: 7.0
rudder_repository_username: ""
rudder_repository_password: ""
rudder_repository: repository.rudder.io
rudder_repository_url: ""
update_cache: yes
apt_key_url: "https://repository.rudder.io/apt/rudder_apt_key.pub"
rpm_key_url: "https://repository.rudder.io/rpm/rudder_rpm_key.pub"