---
server_version: 8.3
rudder_repository_username: ""
rudder_repository_password: ""
rudder_repository: repository.rudder.io
rudder_repository_url: ""
update_cache: yes
apt_key_url: "https://repository.rudder.io/apt/rudder_apt_key.pub"
rpm_key_url: >-
  {{ 'https://repository.rudder.io/rudder_release_key.pub' if server_version is version_compare('8.3', '>=')
    else 'https://repository.rudder.io/rpm/rudder_rpm_key.pub'
  }}
