[Rudder]
url = {{ rudder_publisher_url }}
username = {{ rudder_publiser_username }}
password = {{ rudder_publisher_password }}
proxy_url = {{ rudder_publiser_proxy_url }}
proxy_user = {{ rudder_publisher_proxy_user }}
proxy_password = {{ rudder_publisher_proxy_password }}